src/pug/admin03.pug
extends include/template
include include/_sidebar

block settings
  - title = "Admin 03"

block content
  +sidebar('admin','admin03')
  .main-wrapper
    // Main Content
    .main-content
      section.section
        include include/_breadcrumb
        .section-body
          h2.section-title 資格管理
          p.section-lead ユーザーが選択する資格のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの資格は変更できません。
          .card.p-1
            .card-header
              .wrapper
                .dropdown.d-inline.mr-2
                  button.mb-2.mb-md-0.btn.note-btn.btn-dark.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | 表示件数の切り替え
                  .dropdown-menu
                    each value in [20,25,50,100,200]
                      a.dropdown-item(href='#') #[=value]
                .dropdown.d-inline.mr-2
                  button.mb-2.mb-md-0.btn.note-btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | 業種別表示切り替え
                  .dropdown-menu
                    each value in [1,2,3]
                      a.dropdown-item(href='#') 業種が⼊ります
                a.btn.note-btn.btn-outline-success.mb-2.mb-md-0.mr-2(href='admin03-details.html') 新規追加
                a.btn.note-btn.btn-outline-danger.mb-2.mb-md-0(href='#') 削除
              .card-header-form.mb-2.mb-md-0
                form
                  .input-group
                    input.form-control(type='text', placeholder='Search')
                    .input-group-btn
                      button.btn.btn-primary
                        i.fas.fa-search
            .card-body.p-0
              .table-responsive
                table.table.table-bordered
                  thead
                    tr.text-center
                      th(width='5%')
                        .custom-checkbox.custom-control
                          input#checkbox-all.custom-control-input(type='checkbox', data-checkboxes='group-checked01', data-checkbox-role='dad')
                          label.custom-control-label(for='checkbox-all')  
                      th(width='5%').text-center #
                      th(width='20%') 業種名
                      th(width='40%') 資格名
                      th(width='20%') ステータス
                      th(width='5%') 編集
                      th(width='5%') 削除
                  tbody
                    each val,index in ['アクティブ','⾮表⽰','アクティブ','⾮表⽰','アクティブ','⾮表⽰']
                      tr.text-center
                        td.p-0
                          .custom-checkbox.custom-control
                            input.custom-control-input(type='checkbox', data-checkboxes='group-checked01' id='checkbox-'+(index + 1)+'')
                            label.custom-control-label(for='checkbox-'+(index + 1)+'')  
                        td #[=index + 1]
                        td 業種名
                        td 資格名
                        td #[=val]
                        td
                          a.btn.btn-secondary(href='admin03-details.html') 詳細
                        td
                          a.btn.btn-danger(href='#') 削除
            .card-footer.text-right
              nav.d-inline-block
                ul.pagination.mb-0
                  li.page-item.disabled
                    a.page-link(href='#', tabindex='-1')
                      i.fas.fa-chevron-left
                  li.page-item.active
                    a.page-link(href='#')
                      | 1
                      span.sr-only (current)
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#')
                      i.fas.fa-chevron-right

admin03.html
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Favicon-->
        <link rel="shortcut icon" href="upload/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="upload/favicon.png">
        <!-- CSS-->
        <link rel="stylesheet" href="src/scss/pages/bootstrap.min.css">
        <link rel="stylesheet" href="src/scss/pages/all.css">
        <link rel="stylesheet" href="src/scss/plugins.min.css">
        <link rel="stylesheet" href="src/scss/style.css">
        <!-- Title-->
        <title>Admin 03 - Admin</title>
    </head>
    <body>
        <!-- WRAP PAGE-->
        <main>
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a class="nav-link nav-link-lg" href="#" data-toggle="sidebar"><i class="fas fa-bars"></i></a></li>
                        <li><a class="nav-link nav-link-lg d-sm-none" href="#" data-toggle="search"><i class="fas fa-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                        <div class="search-backdrop"></div>
                        <div class="search-result">
                            <div class="search-header">Histories</div>
                            <div class="search-item"><a href="#">How to hack NASA using CSS</a><a class="search-close" href="#"><i class="fas fa-times"></i></a></div>
                            <div class="search-item"><a href="#">Kodinger.com</a><a class="search-close" href="#"><i class="fas fa-times"></i></a></div>
                            <div class="search-item"><a href="#">#Stisla</a><a class="search-close" href="#"><i class="fas fa-times"></i></a></div>
                            <div class="search-header">Result</div>
                            <div class="search-item"><a href="#"><img class="mr-3 rounded" width="30" src="upload/product-3-50.png" alt="product">oPhone S9 Limited Edition</a></div>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle"><a class="nav-link nav-link-lg message-toggle beep" href="#" data-toggle="dropdown"><i class="far fa-envelope"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">Messages
                                <div class="float-right"><a href="#">Mark All As Read</a></div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-message"><a class="dropdown-item dropdown-item-unread" href="#">
                                    <div class="dropdown-item-avatar"><img class="rounded-circle" alt="image" src="upload/avatar-1.png">
                                        <div class="is-online"></div>
                                    </div>
                                    <div class="dropdown-item-desc"><b>Kusnaedi</b>
                                        <p>Hello, Bro!</p>
                                        <div class="time">10 Hours Ago</div>
                                    </div></a></div>
                            <div class="dropdown-footer text-center"><a href="#">View All<i class="fas fa-chevron-right"></i></a></div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle"><a class="nav-link notification-toggle nav-link-lg beep" href="#" data-toggle="dropdown"><i class="far fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">Notifications
                                <div class="float-right"><a href="#">Mark All As Read</a></div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons"><a class="dropdown-item" href="#">
                                    <div class="dropdown-item-icon bg-info text-white"><i class="fas fa-bell"></i></div>
                                    <div class="dropdown-item-desc">Welcome to Stisla template!
                                        <div class="time">Yesterday</div>
                                    </div></a></div>
                            <div class="dropdown-footer text-center"><a href="#">View All<i class="fas fa-chevron-right"></i></a></div>
                        </div>
                    </li>
                    <li class="dropdown"><a class="nav-link dropdown-toggle nav-link-lg nav-link-user" href="#" data-toggle="dropdown"><img class="rounded-circle mr-1" alt="image" src="upload/avatar-1.png">
                            <div class="d-sm-none d-lg-inline-block">Hi, Ujang Maman</div></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div><a class="dropdown-item has-icon" href="features-profile.html"><i class="far fa-user"></i> Profile</a><a class="dropdown-item has-icon" href="features-activities.html"><i class="fas fa-bolt"></i> Activities</a><a class="dropdown-item has-icon" href="features-settings.html"><i class="fas fa-cog"></i> Settings</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item has-icon text-danger" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <ul class="sidebar-menu mt-5">
                        <li class="menu-header">マスタデータ管理メニュー</li>
                        <li><a class="nav-link" href="list.html"><i class="fas fa-briefcase"></i><span>職業マスタ管理</span></a></li>
                        <li class="nav-item dropdown active"><a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fas fa-archive"></i><span>業種マスタ管理</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="admin02.html">業種管理</a></li>
                                <li><a class="nav-link" href="#">職種管理</a></li>
                                <li class="active"><a class="nav-link" href="admin03.html">資格管理</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="main-wrapper">
                <!-- Main Content-->
                <div class="main-content">
                    <section class="section">
                        <div class="section-header">
                            <h1>マスタデータ</h1>
                            <div class="section-header-breadcrumb flex-wrap">
                                <div class="breadcrumb-item active"><a href="#">ダッシュボード</a></div>
                                <div class="breadcrumb-item"><a href="#">マスターデータ管理メニュー</a></div>
                                <div class="breadcrumb-item">職業マスタ管理</div>
                            </div>
                        </div>
                        <div class="section-body">
                            <h2 class="section-title">資格管理</h2>
                            <p class="section-lead">ユーザーが選択する資格のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの資格は変更できません。</p>
                            <div class="card p-1">
                                <div class="card-header">
                                    <div class="wrapper">
                                        <div class="dropdown d-inline mr-2">
                                            <button class="mb-2 mb-md-0 btn note-btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">表示件数の切り替え</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">20</a><a class="dropdown-item" href="#">25</a><a class="dropdown-item" href="#">50</a><a class="dropdown-item" href="#">100</a><a class="dropdown-item" href="#">200</a>
                                            </div>
                                        </div>
                                        <div class="dropdown d-inline mr-2">
                                            <button class="mb-2 mb-md-0 btn note-btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">業種別表示切り替え</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">業種が⼊ります</a><a class="dropdown-item" href="#">業種が⼊ります</a><a class="dropdown-item" href="#">業種が⼊ります</a>
                                            </div>
                                        </div><a class="btn note-btn btn-outline-success mb-2 mb-md-0 mr-2" href="admin03-details.html">新規追加</a><a class="btn note-btn btn-outline-danger mb-2 mb-md-0" href="#">削除</a>
                                    </div>
                                    <div class="card-header-form mb-2 mb-md-0">
                                        <form>
                                            <div class="input-group">
                                                <input class="form-control" type="text" placeholder="Search">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="text-center">
                                                    <th width="5%">
                                                        <div class="custom-checkbox custom-control">
                                                            <input class="custom-control-input" id="checkbox-all" type="checkbox" data-checkboxes="group-checked01" data-checkbox-role="dad">
                                                            <label class="custom-control-label" for="checkbox-all"> </label>
                                                        </div>
                                                    </th>
                                                    <th class="text-center" width="5%">#</th>
                                                    <th width="20%">業種名</th>
                                                    <th width="40%">資格名</th>
                                                    <th width="20%">ステータス</th>
                                                    <th width="5%">編集</th>
                                                    <th width="5%">削除</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">
                                                    <td class="p-0">
                                                        <div class="custom-checkbox custom-control">
                                                            <input class="custom-control-input" type="checkbox" data-checkboxes="group-checked01" id="checkbox-1">
                                                            <label class="custom-control-label" for="checkbox-1"> </label>
                                                        </div>
                                                    </td>
                                                    <td>1
                                                    </td>
                                                    <td>業種名</td>
                                                    <td>資格名</td>
                                                    <td>アクティブ
                                                    </td>
                                                    <td><a class="btn btn-secondary" href="admin03-details.html">詳細</a></td>
                                                    <td><a class="btn btn-danger" href="#">削除</a></td>
                                                </tr>
                                                <tr class="text-center">
                                                    <td class="p-0">
                                                        <div class="custom-checkbox custom-control">
                                                            <input class="custom-control-input" type="checkbox" data-checkboxes="group-checked01" id="checkbox-2">
                                                            <label class="custom-control-label" for="checkbox-2"> </label>
                                                        </div>
                                                    </td>
                                                    <td>2
                                                    </td>
                                                    <td>業種名</td>
                                                    <td>資格名</td>
                                                    <td>⾮表⽰
                                                    </td>
                                                    <td><a class="btn btn-secondary" href="admin03-details.html">詳細</a></td>
                                                    <td><a class="btn btn-danger" href="#">削除</a></td>
                                                </tr>
                                                <tr class="text-center">
                                                    <td class="p-0">
                                                        <div class="custom-checkbox custom-control">
                                                            <input class="custom-control-input" type="checkbox" data-checkboxes="group-checked01" id="checkbox-3">
                                                            <label class="custom-control-label" for="checkbox-3"> </label>
                                                        </div>
                                                    </td>
                                                    <td>3
                                                    </td>
                                                    <td>業種名</td>
                                                    <td>資格名</td>
                                                    <td>アクティブ
                                                    </td>
                                                    <td><a class="btn btn-secondary" href="admin03-details.html">詳細</a></td>
                                                    <td><a class="btn btn-danger" href="#">削除</a></td>
                                                </tr>
                                                <tr class="text-center">
                                                    <td class="p-0">
                                                        <div class="custom-checkbox custom-control">
                                                            <input class="custom-control-input" type="checkbox" data-checkboxes="group-checked01" id="checkbox-4">
                                                            <label class="custom-control-label" for="checkbox-4"> </label>
                                                        </div>
                                                    </td>
                                                    <td>4
                                                    </td>
                                                    <td>業種名</td>
                                                    <td>資格名</td>
                                                    <td>⾮表⽰
                                                    </td>
                                                    <td><a class="btn btn-secondary" href="admin03-details.html">詳細</a></td>
                                                    <td><a class="btn btn-danger" href="#">削除</a></td>
                                                </tr>
                                                <tr class="text-center">
                                                    <td class="p-0">
                                                        <div class="custom-checkbox custom-control">
                                                            <input class="custom-control-input" type="checkbox" data-checkboxes="group-checked01" id="checkbox-5">
                                                            <label class="custom-control-label" for="checkbox-5"> </label>
                                                        </div>
                                                    </td>
                                                    <td>5
                                                    </td>
                                                    <td>業種名</td>
                                                    <td>資格名</td>
                                                    <td>アクティブ
                                                    </td>
                                                    <td><a class="btn btn-secondary" href="admin03-details.html">詳細</a></td>
                                                    <td><a class="btn btn-danger" href="#">削除</a></td>
                                                </tr>
                                                <tr class="text-center">
                                                    <td class="p-0">
                                                        <div class="custom-checkbox custom-control">
                                                            <input class="custom-control-input" type="checkbox" data-checkboxes="group-checked01" id="checkbox-6">
                                                            <label class="custom-control-label" for="checkbox-6"> </label>
                                                        </div>
                                                    </td>
                                                    <td>6
                                                    </td>
                                                    <td>業種名</td>
                                                    <td>資格名</td>
                                                    <td>⾮表⽰
                                                    </td>
                                                    <td><a class="btn btn-secondary" href="admin03-details.html">詳細</a></td>
                                                    <td><a class="btn btn-danger" href="#">削除</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <nav class="d-inline-block">
                                        <ul class="pagination mb-0">
                                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <!-- General JS-->
        <script>window.jQuery || document.write('<script src="src/js/jquery.js"><\/script>')</script>
        <script src="src/js/scriptsDashboard.js"></script>
        <script src="src/js/stisla.js"></script>
        <script src="src/js/popper.min.js"></script>
        <script src="src/js/bootstrap.min.js"></script>
        <script src="src/js/jquery.nicescroll.min.js"></script>
        <script src="src/js/moment.min.js"></script>
        <!-- Custom JS-->
        <script src="src/js/pages.js"></script>
    </body>
</html>
