admin02-details.html
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Favicon-->
        <link rel="shortcut icon" href="upload/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="upload/favicon.png">
        <!-- CSS-->
        <link rel="stylesheet" href="src/scss/pages/bootstrap.min.css">
        <link rel="stylesheet" href="src/scss/pages/all.css">
        <link rel="stylesheet" href="src/scss/plugins.min.css">
        <link rel="stylesheet" href="src/scss/style.css">
        <!-- Title-->
        <title>Admin 02 Details - Admin</title>
    </head>
    <body>
        <!-- WRAP PAGE-->
        <main>
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a class="nav-link nav-link-lg" href="#" data-toggle="sidebar"><i class="fas fa-bars"></i></a></li>
                        <li><a class="nav-link nav-link-lg d-sm-none" href="#" data-toggle="search"><i class="fas fa-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                        <div class="search-backdrop"></div>
                        <div class="search-result">
                            <div class="search-header">Histories</div>
                            <div class="search-item"><a href="#">How to hack NASA using CSS</a><a class="search-close" href="#"><i class="fas fa-times"></i></a></div>
                            <div class="search-item"><a href="#">Kodinger.com</a><a class="search-close" href="#"><i class="fas fa-times"></i></a></div>
                            <div class="search-item"><a href="#">#Stisla</a><a class="search-close" href="#"><i class="fas fa-times"></i></a></div>
                            <div class="search-header">Result</div>
                            <div class="search-item"><a href="#"><img class="mr-3 rounded" width="30" src="upload/product-3-50.png" alt="product">oPhone S9 Limited Edition</a></div>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle"><a class="nav-link nav-link-lg message-toggle beep" href="#" data-toggle="dropdown"><i class="far fa-envelope"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">Messages
                                <div class="float-right"><a href="#">Mark All As Read</a></div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-message"><a class="dropdown-item dropdown-item-unread" href="#">
                                    <div class="dropdown-item-avatar"><img class="rounded-circle" alt="image" src="upload/avatar-1.png">
                                        <div class="is-online"></div>
                                    </div>
                                    <div class="dropdown-item-desc"><b>Kusnaedi</b>
                                        <p>Hello, Bro!</p>
                                        <div class="time">10 Hours Ago</div>
                                    </div></a></div>
                            <div class="dropdown-footer text-center"><a href="#">View All<i class="fas fa-chevron-right"></i></a></div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle"><a class="nav-link notification-toggle nav-link-lg beep" href="#" data-toggle="dropdown"><i class="far fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">Notifications
                                <div class="float-right"><a href="#">Mark All As Read</a></div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons"><a class="dropdown-item" href="#">
                                    <div class="dropdown-item-icon bg-info text-white"><i class="fas fa-bell"></i></div>
                                    <div class="dropdown-item-desc">Welcome to Stisla template!
                                        <div class="time">Yesterday</div>
                                    </div></a></div>
                            <div class="dropdown-footer text-center"><a href="#">View All<i class="fas fa-chevron-right"></i></a></div>
                        </div>
                    </li>
                    <li class="dropdown"><a class="nav-link dropdown-toggle nav-link-lg nav-link-user" href="#" data-toggle="dropdown"><img class="rounded-circle mr-1" alt="image" src="upload/avatar-1.png">
                            <div class="d-sm-none d-lg-inline-block">Hi, Ujang Maman</div></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div><a class="dropdown-item has-icon" href="features-profile.html"><i class="far fa-user"></i> Profile</a><a class="dropdown-item has-icon" href="features-activities.html"><i class="fas fa-bolt"></i> Activities</a><a class="dropdown-item has-icon" href="features-settings.html"><i class="fas fa-cog"></i> Settings</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item has-icon text-danger" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <ul class="sidebar-menu mt-5">
                        <li class="menu-header">マスタデータ管理メニュー</li>
                        <li><a class="nav-link" href="list.html"><i class="fas fa-briefcase"></i><span>職業マスタ管理</span></a></li>
                        <li class="nav-item dropdown active"><a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fas fa-archive"></i><span>業種マスタ管理</span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a class="nav-link" href="admin02.html">業種管理</a></li>
                                <li><a class="nav-link" href="#">職種管理</a></li>
                                <li><a class="nav-link" href="admin03.html">資格管理</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="main-wrapper">
                <!-- Main Content-->
                <div class="main-content">
                    <section class="section">
                        <div class="section-header">
                            <h1>マスタデータ</h1>
                            <div class="section-header-breadcrumb flex-wrap">
                                <div class="breadcrumb-item active"><a href="#">ダッシュボード</a></div>
                                <div class="breadcrumb-item"><a href="#">マスターデータ管理メニュー</a></div>
                                <div class="breadcrumb-item">職業マスタ管理</div>
                            </div>
                        </div>
                        <div class="section-body">
                            <h2 class="section-title">業種管理</h2>
                            <p class="section-lead">ユーザーが選択する業種のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの職業は変更できません。</p>
                            <div class="wrapper mb-4">
                                <div class="alert alert-success alert-dismissible show fade">
                                    <div class="alert-body">
                                        <button class="close" data-dismiss="alert"><span>×</span></button>This is a success alert.
                                    </div>
                                </div>
                                <div class="alert alert-danger alert-dismissible show fade">
                                    <div class="alert-body">
                                        <button class="close" data-dismiss="alert"><span>×</span></button>This is a danger alert.
                                    </div>
                                </div>
                            </div>
                            <div class="card p-1">
                                <div class="table-custom table-responsive">
                                    <table class="table table-bordered mb-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row">業種名</th>
                                                <td>
                                                    <input class="form-control" type="text" value="IT">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">ステータス</th>
                                                <td>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input class="custom-control-input" id="customRadioInline1" type="radio" name="customRadioInline1">
                                                        <label class="custom-control-label" for="customRadioInline1">アクティブ</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input class="custom-control-input" id="customRadioInline2" type="radio" name="customRadioInline1">
                                                        <label class="custom-control-label" for="customRadioInline2">非公開</label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="wrap-Buttons mt-3 mb-3"><a class="btn btn-secondary mr-3" href="admin02.html">保存せずに一覧へ戻る</a><a class="btn btn-success" href="#">保存</a></div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <!-- General JS-->
        <script>window.jQuery || document.write('<script src="src/js/jquery.js"><\/script>')</script>
        <script src="src/js/scriptsDashboard.js"></script>
        <script src="src/js/stisla.js"></script>
        <script src="src/js/popper.min.js"></script>
        <script src="src/js/bootstrap.min.js"></script>
        <script src="src/js/jquery.nicescroll.min.js"></script>
        <script src="src/js/moment.min.js"></script>
        <!-- Custom JS-->
        <script src="src/js/pages.js"></script>
    </body>
</html>

src/pug/admin02-details.pug
extends include/template
include include/_sidebar

block settings
    - title = "Admin 02 Details"

block content
  .main-sidebar
    aside#sidebar-wrapper
      ul.sidebar-menu.mt-5
        li.menu-header マスタデータ管理メニュー
        li
          a.nav-link(href='list.html')
            i.fas.fa-briefcase
            span 職業マスタ管理
        li.nav-item.dropdown.active
          a.nav-link.has-dropdown(href='#', data-toggle='dropdown')
            i.fas.fa-archive
            span 業種マスタ管理
          ul.dropdown-menu
            li.active
              a.nav-link(href='admin02.html') 業種管理
            li
              a.nav-link(href='#') 職種管理
            li
              a.nav-link(href='admin03.html') 資格管理
  .main-wrapper
    // Main Content
    .main-content
      section.section
        include include/_breadcrumb
        .section-body
          h2.section-title 業種管理
          p.section-lead ユーザーが選択する業種のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの職業は変更できません。
          .wrapper.mb-4
            .alert.alert-success.alert-dismissible.show.fade
              .alert-body
                button.close(data-dismiss='alert')
                  span ×
                | This is a success alert.
            .alert.alert-danger.alert-dismissible.show.fade
              .alert-body
                button.close(data-dismiss='alert')
                  span ×
                | This is a danger alert.

          .card.p-1
            .table-custom.table-responsive
              table.table.table-bordered.mb-0
                tbody
                  tr
                    th(scope='row') 業種名
                    td
                      input.form-control(type='text' value='IT')
                  tr
                    th(scope='row') ステータス
                    td
                      .custom-control.custom-radio.custom-control-inline
                        input#customRadioInline1.custom-control-input(type='radio', name='customRadioInline1')
                        label.custom-control-label(for='customRadioInline1') アクティブ
                      .custom-control.custom-radio.custom-control-inline
                        input#customRadioInline2.custom-control-input(type='radio', name='customRadioInline1')
                        label.custom-control-label(for='customRadioInline2') 非公開
          .wrap-Buttons.mt-3.mb-3
            a.btn.btn-secondary(href='admin02.html').mr-3 保存せずに一覧へ戻る
            a.btn.btn-success(href='#') 保存
