list.html
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Favicon-->
        <link rel="shortcut icon" href="upload/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="upload/favicon.png">
        <!-- CSS-->
        <link rel="stylesheet" href="src/scss/pages/bootstrap.min.css">
        <link rel="stylesheet" href="src/scss/pages/all.css">
        <link rel="stylesheet" href="src/scss/plugins.min.css">
        <link rel="stylesheet" href="src/scss/style.css">
        <!-- Title-->
        <title>List - Admin</title>
    </head>
    <body>
        <!-- WRAP PAGE-->
        <main>
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a class="nav-link nav-link-lg" href="#" data-toggle="sidebar"><i class="fas fa-bars"></i></a></li>
                        <li><a class="nav-link nav-link-lg d-sm-none" href="#" data-toggle="search"><i class="fas fa-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                        <div class="search-backdrop"></div>
                        <div class="search-result">
                            <div class="search-header">Histories</div>
                            <div class="search-item"><a href="#">How to hack NASA using CSS</a><a class="search-close" href="#"><i class="fas fa-times"></i></a></div>
                            <div class="search-item"><a href="#">Kodinger.com</a><a class="search-close" href="#"><i class="fas fa-times"></i></a></div>
                            <div class="search-item"><a href="#">#Stisla</a><a class="search-close" href="#"><i class="fas fa-times"></i></a></div>
                            <div class="search-header">Result</div>
                            <div class="search-item"><a href="#"><img class="mr-3 rounded" width="30" src="upload/product-3-50.png" alt="product">oPhone S9 Limited Edition</a></div>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle"><a class="nav-link nav-link-lg message-toggle beep" href="#" data-toggle="dropdown"><i class="far fa-envelope"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">Messages
                                <div class="float-right"><a href="#">Mark All As Read</a></div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-message"><a class="dropdown-item dropdown-item-unread" href="#">
                                    <div class="dropdown-item-avatar"><img class="rounded-circle" alt="image" src="upload/avatar-1.png">
                                        <div class="is-online"></div>
                                    </div>
                                    <div class="dropdown-item-desc"><b>Kusnaedi</b>
                                        <p>Hello, Bro!</p>
                                        <div class="time">10 Hours Ago</div>
                                    </div></a></div>
                            <div class="dropdown-footer text-center"><a href="#">View All<i class="fas fa-chevron-right"></i></a></div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle"><a class="nav-link notification-toggle nav-link-lg beep" href="#" data-toggle="dropdown"><i class="far fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">Notifications
                                <div class="float-right"><a href="#">Mark All As Read</a></div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons"><a class="dropdown-item" href="#">
                                    <div class="dropdown-item-icon bg-info text-white"><i class="fas fa-bell"></i></div>
                                    <div class="dropdown-item-desc">Welcome to Stisla template!
                                        <div class="time">Yesterday</div>
                                    </div></a></div>
                            <div class="dropdown-footer text-center"><a href="#">View All<i class="fas fa-chevron-right"></i></a></div>
                        </div>
                    </li>
                    <li class="dropdown"><a class="nav-link dropdown-toggle nav-link-lg nav-link-user" href="#" data-toggle="dropdown"><img class="rounded-circle mr-1" alt="image" src="upload/avatar-1.png">
                            <div class="d-sm-none d-lg-inline-block">Hi, Ujang Maman</div></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div><a class="dropdown-item has-icon" href="features-profile.html"><i class="far fa-user"></i> Profile</a><a class="dropdown-item has-icon" href="features-activities.html"><i class="fas fa-bolt"></i> Activities</a><a class="dropdown-item has-icon" href="features-settings.html"><i class="fas fa-cog"></i> Settings</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item has-icon text-danger" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <ul class="sidebar-menu mt-5">
                        <li class="menu-header">マスタデータ管理メニュー</li>
                        <li class="active"><a class="nav-link" href="list.html"><i class="fas fa-briefcase"></i><span>職業マスタ管理</span></a></li>
                        <li class="nav-item dropdown"><a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fas fa-archive"></i><span>業種マスタ管理</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="admin02.html">業種管理</a></li>
                                <li><a class="nav-link" href="#">職種管理</a></li>
                                <li><a class="nav-link" href="admin03.html">資格管理</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="main-wrapper">
                <!-- Main Content-->
                <div class="main-content">
                    <section class="section">
                        <div class="section-header">
                            <h1>マスタデータ</h1>
                            <div class="section-header-breadcrumb flex-wrap">
                                <div class="breadcrumb-item active"><a href="#">ダッシュボード</a></div>
                                <div class="breadcrumb-item"><a href="#">マスターデータ管理メニュー</a></div>
                                <div class="breadcrumb-item">職業マスタ管理</div>
                            </div>
                        </div>
                        <div class="section-body">
                            <h2 class="section-title">職業マスタ管理</h2>
                            <p class="section-lead">ユーザーが選択する職業のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの職業は変更できません。</p>
                            <div class="wrapper mb-4">
                                <div class="dropdown d-inline mr-3">
                                    <button class="btn btn-dark dropdown-toggle" id="dropdownMenuButton4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">表示件数の切り替え</button>
                                    <div class="dropdown-menu"><a class="dropdown-item" href="#">20</a><a class="dropdown-item" href="#">25</a><a class="dropdown-item" href="#">50</a><a class="dropdown-item" href="#">100</a><a class="dropdown-item" href="#">200</a>
                                    </div>
                                </div><a class="btn btn-outline-success" href="details.html">新規追加</a>
                            </div>
                            <div class="card p-1">
                                <div class="table-custom table-responsive">
                                    <table class="table table-bordered mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="5%">#</th>
                                                <th scope="col" width="85%">職業名</th>
                                                <th class="text-center" scope="col" width="5%">編集</th>
                                                <th class="text-center" scope="col" width="5%">削除</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1
                                                </th>
                                                <td>会社員
                                                </td>
                                                <td><a class="btn btn-secondary" href="details.html">詳細</a></td>
                                                <td><a class="btn btn-danger" href="#">削除</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2
                                                </th>
                                                <td>役員
                                                </td>
                                                <td><a class="btn btn-secondary" href="details.html">詳細</a></td>
                                                <td><a class="btn btn-danger" href="#">削除</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3
                                                </th>
                                                <td>取締役
                                                </td>
                                                <td><a class="btn btn-secondary" href="details.html">詳細</a></td>
                                                <td><a class="btn btn-danger" href="#">削除</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4
                                                </th>
                                                <td>⾃営業
                                                </td>
                                                <td><a class="btn btn-secondary" href="details.html">詳細</a></td>
                                                <td><a class="btn btn-danger" href="#">削除</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5
                                                </th>
                                                <td>無職
                                                </td>
                                                <td><a class="btn btn-secondary" href="details.html">詳細</a></td>
                                                <td><a class="btn btn-danger" href="#">削除</a></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">6
                                                </th>
                                                <td>アルバイト
                                                </td>
                                                <td><a class="btn btn-secondary" href="details.html">詳細</a></td>
                                                <td><a class="btn btn-danger" href="#">削除</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <nav class="mt-5" aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <!-- General JS-->
        <script>window.jQuery || document.write('<script src="src/js/jquery.js"><\/script>')</script>
        <script src="src/js/scriptsDashboard.js"></script>
        <script src="src/js/stisla.js"></script>
        <script src="src/js/popper.min.js"></script>
        <script src="src/js/bootstrap.min.js"></script>
        <script src="src/js/jquery.nicescroll.min.js"></script>
        <script src="src/js/moment.min.js"></script>
        <!-- Custom JS-->
        <script src="src/js/pages.js"></script>
    </body>
</html>

src/pug/list.pug
extends include/template
include include/_sidebar

block settings
    - title = "List"

block content
  +sidebar('list')
  .main-wrapper
    // Main Content
    .main-content
      section.section
        include include/_breadcrumb
        .section-body
          h2.section-title 職業マスタ管理
          p.section-lead ユーザーが選択する職業のマスターデータの管理・更新を⾏います。<br>ユーザーが選択済みの職業は変更できません。
          .wrapper.mb-4
            .dropdown.d-inline.mr-3
              button#dropdownMenuButton4.btn.btn-dark.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | 表示件数の切り替え
              .dropdown-menu
                each value in [20,25,50,100,200]
                  a.dropdown-item(href='#') #[=value]
            a.btn.btn-outline-success(href='details.html') 新規追加
          .card.p-1
            .table-custom.table-responsive
              table.table.table-bordered.mb-0
                thead
                  tr
                    th(scope='col' width='5%') #
                    th(scope='col' width='85%') 職業名
                    th(scope='col' width='5%').text-center 編集
                    th(scope='col' width='5%').text-center 削除
                tbody
                  each val,index in ['会社員','役員','取締役','⾃営業','無職','アルバイト']
                    tr
                      th(scope='row') #[=index +1]
                      td #[=val]
                      td
                        a.btn.btn-secondary(href='details.html') 詳細
                      td
                        a.btn.btn-danger(href='#') 削除
            nav(aria-label='Page navigation example').mt-5
              ul.pagination.justify-content-end
                li.page-item
                  a.page-link(href='#') Previous
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') Next
